[Unit]
Description=File Watcher Daemon
After=network.target

[Service]
Type=forking
ExecStart=/home/mathis/Documents/Januera/projet/daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
