[Unit]
Description=TODO Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/todo-daemon /var/lib/todo/todo.db
Restart=on-failure
User=todo

[Install]
WantedBy=multi-user.target
